#titulo1{
    display: inline-block;
    width: 70%;
    color: darkolivegreen;
}
#titulo2{
    display: inline-block;
    width: 50%;
    color: darkolivegreen;
}
#titulo3{
    display: inline-block;
    width: 50%;
    color: darkolivegreen;
}
#titulo4{
    display: inline-block;
    width: 50%;
    color: darkolivegreen;
}
#titulo5{
    display: inline-block;
    width: 50%;
    color: darkolivegreen;
}
#titulo5{
    display: inline-block;
    width: 50%;
    color: darkolivegreen;
}
#titulo6{
    display: inline-block;
    width: 50%;
    color: darkolivegreen;
}
#parrafo1{
    text-align:justify;
}
#parrafo2{
    text-align: justify;
}
#parrafo3{
    text-align: justify;
}
#marco{
    width: 100%;
    height: 600px;
    padding: 8px;
}
#img1{
    padding: 10px;
    margin: 10px;
    width: 250px;
    border-style: double;
    border-color: darkkhaki;
}
#img2{
    padding: 10px;
    margin: 10px;
    width: 170px;
    border-style: double;
    border-color: darkkhaki;
}
#img3{
    padding: 10px;
    margin: 10px;
    width: 250px;
    border-style: double;
    border-color: darkkhaki;
}
#img4{
    
    padding: 10px;
    margin: 10px;
    width: 250px;
    border-style: double;
    border-color: darkkhaki;
}
#img5{
    padding: 10px;
    margin: 10px;
    width: 250px;
    border-style: double;
    border-color: darkkhaki;
}
}
#pie{
    text-align: left;
    clear: both;
}